* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.morph {
  /* animation: morph 3s ease-in-out infinite; */
}

@keyframes morph {
  0%, 100% {
    d: path("M 80,20 L 140,70 L 120,140 L 40,140 L 20,70 Z");
    fill: #a78bfa;
  }
  50% {
    d: path("M 80,10 L 150,80 L 130,150 L 30,150 L 0,80 Z");
    fill: #ff6b6b;
  }
  /* 100% {
    d: path("M 80,20 L 140,70 L 120,140 L 40,140 L 20,70 Z");
    fill: #a78bfa;
  } */
}
