* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0 0% 0%);
  color: hsl(0 0% 80%);
  font-family: verdana;
  padding: 1.5rem;
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  max-width: 400px;
  width: 90%;
  background-color: hsl(0 0% 10%);
  padding: 3rem 1.5rem ;
  hyphens: auto;
  line-height: 1.6;
  border-radius: 1rem;
  text-align: center;
}

/* Animating Borders */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  /* --angle: 0deg; /* Variables dont' support animations */
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, #006aff, #ff0095, #ff4545 );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3.5px;
  border-radius: 1rem;
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
