/* Problem 1 */
/* body {
    font: 1.2em / 1.5 sans-serif;
}
nav ul {
    max-width: 750px;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a:link,
nav a:visited {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
} */

/* Problem 2 */
/* body {
    font: 1.2em / 1.5 sans-serif;
}
ul {
    max-width: 750px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
}

ul {
    display: flex;
}

li {
    flex: 1;
}

li:first-child{
    flex: 2;
} */

/* Problem 3 */

body {
    font: 1.2em / 1.5 sans-serif;
}
ul {
    width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    /* Add styles here */
    flex: auto;
}
