@font-face {
  font-family: "Google Sans";
  src: url("../fonts/Google_Sans_Flex/static/GoogleSansFlex_120pt-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

/* If you don't specify media type, it would default to all */
body {
  background-color: beige;
  color: green;
  font-size: clamp(1rem, 0.8rem + 1vw, 1.3rem);
  font-family: "Google Sans", sans-serif;
  margin: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header li {
  background-color: green;
  color: beige;
  padding: 8px 15px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: inherit;
}

header li i {
  margin-right: 5px;
}


/* Changing some styles for when the page is being printed */
@media print {
  body {
    background-color: transparent;
    color: black;
    margin: 20px;
    font-size: clamp(1.1rem, 0.9182rem + 0.9091vw, 1.6rem);
  }
}

/* Media Queries, it only applies if the condition is satisfied */
/* You can also use media queries to adjust styles based on viewport size (height/width) */
/* You can also combine multiple conditions using 'and' ', stands for or' and 'not' */
@media (orientation: portrait) and (max-width: 600px){
  header nav ul li {
    list-style: none;
    a {
      display: none;
    }
    i {
      margin: 0;
    }
  }
}



