body {
  font: 1.2em / 1.5 sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0.5em;
  border: 5px solid #cccccc;
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.target {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: #663398;
  padding: 1em;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container {
  /* Add styles here */
}

.target {
  /* Add styles here */
}



.container2 {
  height: 400px;
  padding: 0.5em;
  border: 5px solid #cccccc;
  overflow: auto;
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

.sidebar {
  color: white;
  background-color: #663398;
  padding: 1em;
  float: left;
  width: 150px;
  position: fixed;
}

.content {
  padding: 1em;
  margin-left: 160px;
}

.sidebar {
  /* Add styles here */
}