

body {
    width: 800px;
    height: 1500px;
    margin: 0 auto;
}

.sticky {
    position: sticky; 
    top: 0;
    background-color: white;;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid black;
}

.sticky::before {
    content: "🍵";
}