
* {
  box-sizing: border-box;;
}

body {
  background-color: rgb(241, 238, 238);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
}

.container div {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 0.3);
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  max-inline-size: 700px;
}

.container div:nth-child(2) {
  /* direction: rtl; */
  unicode-bidi: embed;
  font-family: "Urdu Typesetting", "Microsoft Sans Serif", "Tahoma", sans-serif;
  text-align: end;
}

.container div:nth-child(3) {
  writing-mode: vertical-rl;
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  line-break: strict;
  word-break: break-all;
}
